root = true

[*]
end_of_line = lf
insert_final_newline = true

[{*.{h,cpp,cmake,hlsl}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[CMakeLists.txt]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
